.prd-main{
	margin-top:20px;
	background: #fff;
    padding-bottom: 30px;
    border-top: none;
    box-shadow: 1px 1px 4px #d3d3d3;
    display: inline-block;
}
.prd-main .left{
	width: 800px;
	float: left;
}

.prd-main .right{
	width:400px;
	float: left;
}
.prd-main .prd-title{
	background: #f8f8f8;
    padding: 5px 0 20px 48px;
}

.prd-main .prd-title .title{
	font-size: 18px;
    overflow: hidden;
    height: 107px;
    word-wrap: break-word;
    word-break: normal; 
}
.prd-main .prd-img-block{
	height: 400px;
	width: 800px;
	position: relative;
}

.prd-main .prd-img-block .detail-img{
	width:100%;
	height: 100%;
}
.prd-img-block .info-img{
	height: 400px;
	width: 800px;
	top:0;
	left:0;
	position: absolute;	
}
.prd-img-block.loading .info-img{
  background: url(../img/static/loading.gif) center center no-repeat;
  display: block;
}
.prd-img-block.empty .info-img{
  background: url(../img/static/soldout.png) center center no-repeat;
  display: block;
}
.prd-main .brand-block{
	padding-top: 10px;
	width: 100%;
	text-align: center;
}
.prd-main .price-block,.prd-main .service-block{
	margin: 0px 20px;
    margin-top: 20px;
    width: 360px;
    padding: 20px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.prd-main .price-block .price{
	width: 100%;
	font-size: 18px;
	line-height: 40px;
}
.prd-main .price-block .num{
	font-size: 30px;
}

.prd-main .service-block{
	border-top: 0px;
	margin-top: 0px;
}
.prd-main .service-block .item{
	width:100%;
	font-size: 14px;
	line-height: 30px;
	color:#8e8e8e;
}

.prd-main .btn-block{
	margin-top:20px;
	width: 100%;
}
.prd-main .btn-block .btn{
	width: 200px;
    height: 40px;
    margin-left: 20px;
    border: 0;
    outline: 0;
    background: #00A29A;
    color: #fff;
    font-size: 16px;
}

.prd-detail{
	margin-top:50px;
	width: 100%;
}

.prd-detail .infos,.prd-detail .brand-prds{
	float: left;
	border: 1px solid #ccc;
}
.prd-detail .infos{
	width: 898px;
	padding-bottom: 40px;
}
.prd-detail .infos .titles{
	background: #252525;
	height: 50px;
}
.prd-detail .titles .title{
	width: 80px;
	height: 50px;
	text-align: center;
	overflow: hidden;
	float: left;
}

.prd-detail .titles .link{
	height: 50px;
	line-height: 50px;
	font-size:14px;
	color: #fff;
	font-weight: 700;
	display: block;
}
.prd-detail .titles .link.active,.prd-detail .titles .link:hover{
	color: #dadada;
}
.prd-detail .titles .title-right{
	width: 280px;
	color:#fff;
	position: relative;
	float: right;	
}
.prd-detail .titles .btn{
	width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    top: 5px;
    right: 5px;
    background: #00A29A;
    border: 0;
    position: absolute;
    outline: 0;
}
.prd-detail .titles .price{
	width: 80px;
	line-height: 50px;
	font-size:25px;
	display: inline-block;
}
.prd-detail .titles .price em{
	font-size: 16px;
	font-style: normal;
}
.prd-detail .info{
	padding: 0 40px;
}
.prd-detail .info .info-title{
	font-size: 28px;
	padding-top: 20px;
	border-bottom:1px solid #000;
}
.prd-detail .info .info-content{
	margin-top: 20px;
}
.prd-detail .info-title span{
	padding-left: 10px;
}
.prd-detail .info-content .tb{
	line-height: 40px;
	font-size:14px;
}
.prd-detail .info-content .td-key{
	width:80px;
	font-weight: 600;
	display: inline-block;
}

.prd-detail .info-content .td-val{
	width:600px;
	color: #666;
	display: inline-block;
}

.prd-detail .brand-prds{
	margin-left: 50px;
	width: 248px;
}
.prd-detail .brand-prds .title{
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	background: #000;
}
.prd-detail .brand-prds .prd{
	height: 60px;
    overflow: hidden;
    padding: 20px 10px;
    border-bottom: 1px dashed #e0e0e0;
}

.prd-detail .prd img{
	float: left;
	width: 60px;
	height: 60px;
}

.prd-detail .prd a:hover{
	color: #00A29A;
}

.prd-detail .prd span{
	float: left;
    width: 150px;
    padding-left: 10px;
}
.prd-detail .prd .price{
	color:#00A29A;
}
.prd-detail .brand-prds .prd.lst{
	border-bottom: 0;
}

.prd-detail .title span{
	padding-left: 10px;

}