.campagin {
	width: 100%;
	height: 350px;
	min-width: 1200px;
	position: relative;
}
.campagin .bgimg{
	z-index: 100;
	position: absolute;
	top:0;
	bottom: 0;
}
.campagin .bgimg,.campagin .default{
	width: 100%;
	height: 350px;
	display: inline-block;
}
.campagin .default{
	background: #EAEAEC;
}
.list-view-more{
	height: 40px;
	line-height: 40px;
}
.col-prd-list{
	padding-bottom: 50px;
	position: relative;
}
.col-prd-list .more-view{
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
}
.col-prd-list:hover .more-view{
	height: 50px;
    width: 1200px;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
    background: #ececec;
    display: block;
}
.more-view .icon{
	font-size: 32px;
	color:#000;
}
.conditions{
	padding-top: 20px;
}
.conditions .condition{
	line-height: 20px;
	font-size: 14px;
}
.header .header-fix{
	display: block;
}
.cond-navs{
	width: 1160px;
	padding:0 20px;
	margin-top:10px;
	height: 20px;
	font-size: 14px;
}
.cond-navs li{
	float: left;
}
.cond-navs a{
	padding:3px 4px;
}
.cond-navs a:after{
	content: ">";
	padding-left:4px;
}
.cond-navs li:last-child a:after{
	content: "";
}
.cond-container{
	margin-top:10px;
}
.cond-container .cond{
	width: 100%;
	line-height: 30px;
    font-size: 14px;
    background: #F7F5F5;
    border: 1px dotted #ececec;
    display: inline-block;
}
.cond-container .prop{
	    width: 100%;
    height: 30px;
}
.cond-container .prop .div-name{
	width: 100px;
	padding-left: 10px;
	color:#B0A59F;
	text-align: left;
	float: left;
}

.cond-container .prop .attrs{
	width: 1078px;
    color: #806F66;
    float: left;
    height: 30px;
}
.cond-container .attrs ul{
	    display: inline-block;
    background: #fff;
    width: 100%;
    padding-left: 10px;
}
.cond-container .attrs li{
	float: left;
}
.cond-container .attrs a{
	display: inline-block;
	margin-right:10px;
}
.cond-container .attrs a:hover{
	color:#00A29A;
}

.seh-res{
	margin-top: 40px;
}

.seh-res .title{
	height: 40px;
	border:solid 1px #e8e8e8;
	background: #f5f5f5;
}
.seh-res .title .left{
	height: 40px;
	width: 50%;
	float: left;	
}
.seh-res .title .right{
	height: 40px;
	width: 50%;
	float: left;
}
.seh-res .title .pager{
	margin-right: -1px;
	border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
	float: right;
}

.seh-res .pager .item{
	float: left;
	line-height: 40px;
	padding:0 15px;
}
.seh-res .pager .link{
	height:40px;
	display: block;
}

.seh-res .pager .pg-info{
}
.seh-res .pager  .current{
	color:#00A29A;
}
.seh-res .pager  .all{
	
}

.seh-res .title .sorts{
	float: left;
	line-height: 40px;
}
.seh-res .sorts .sort{
	float: left;
	border-right: solid 1px #e5e5e5;
}
.seh-res .sorts .link{
	height: 40px;
	padding:0 15px;
	display: block;
}
.seh-res .sort.active .link{
	background: #fff;
}
.seh-res .sorts .link:hover{
	background: #fff;
}
.seh-res .list{
	width: 1200px;
	overflow: hidden;
}

.pager-bar{
	margin-bottom:30px;
}
